# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE files
.idea/
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log
